* {
  box-sizing: border-box;
}

body {
  line-height: 1.65;
  margin: 0;
}


@media screen and (max-width: 400px) {
  .flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  }
}
